APP_ENV=development
APP_PORT=8000
MODEL_WEIGHTS_DIR=weights

# NestJS api-service
API_SERVICE_URL=http://localhost:3000

# HuggingFace cache
HF_HOME=.cache/huggingface

# HF-token
HF_TOKEN=<your_huggingface_token>

# Recommender
RECO_ARTIFACT_DIR=recommender_artifacts
RECO_DATA_DIR=data

# Supabase
SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_KEY=<service_role_key>

AI_CONFIG_SCHEMA=ai_config

# Pipeline output
PIPELINE_OUTPUT_DIR=./output

# PHOBERT_TIME_MODEL_PATH=./models/phobert_timelabel/checkpoint-60