SUPABASE_URL=
SUPABASE_KEY=

API_SERVICE_HOST=0.0.0.0
API_SERVICE_PORT=3000

CORS_ORIGIN=*

# AI Service (FastAPI)
# Dùng cho review pipeline và recommender system
AI_SERVICE_URL=http://127.0.0.1:8000

# Timeout khi gọi AI service
AI_SERVICE_TIMEOUT_MS=2500